@import "utility/loader.scss"

.showbox
    display: flex
    justify-content: center
    align-items: center
    top: 0
    bottom: 20%
    right: 0
    left: 0
    position: absolute

body
    background-color: #eee

#root
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr

#word-bank
    background-color: #eee
    border-color: black
    border-style: solid
    grid-column-start: 1
    padding: 10px
    max-height: 100%
    h1
        text-align: center
        width: 100%

#quiz
    grid-column-start: 2
    background-color: #eee
    border-color: black
    border-style: solid
    padding: 10px
    max-height: 100%
    h1
        text-align: center
        width: 100%


#word-bank-content
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    padding: 10px
.bank-entry
    margin: 20px 10px 20px 10px
    width: 100%

#word-bank-scrollable
    overflow-y: scroll
    overflow-wrap: n
    overflow-x: hidden
    max-height: 90%

#quiz-scrollable
    overflow-y: scroll
    overflow-wrap: n
    overflow-x: hidden
    max-height: 90%

.quiz-question
    margin: 10px
    margin-top:
    margin-bottom: 40px

.quiz-input
    border-radius: 0px !important
    width: 40px !important
    padding: 0px !important
    text-align: center
    text-transform: uppercase
    white-space: nowrap

#quiz-button-box
    width: 100%
    height: 50px
    padding: 5px 10px 5px 10px
    display: flex
    justify-content: space-around
    button
        width: 100px
        border-radius: 0px !important
.feedback-text