doctype html
html
    head
        title VRQ Vocab
        link(rel='stylesheet' type='text/css' href='/static/css/vrqVocab.css')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    body
        .showbox
            .loader
                svg.circular(viewbox='25 25 50 50')
                    circle.path(cx='50' cy='50' r='20' fill='none' stroke-width='2' stroke-miterlimit='10')
        #root(style="display:none")
            #word-bank
                h1.display-6 Word Bank
                #word-bank-scrollable
            #quiz
                h1.display-6 Quiz
                #quiz-scrollable
                    #quiz-button-box
                        button.btn.btn-success#quiz-done Check
                        button.btn.btn-danger#quiz-reset Reset


        script(src='https://code.jquery.com/jquery-3.3.1.min.js' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
        script(src='https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js')
        script(src='https://www.gstatic.com/firebasejs/5.5.3/firebase-storage.js')
        script(src='/static/js/vrqVocab.js')
        